* {
  text-align: center;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  margin: 3px;
  padding: 4px;
  border-radius: 5px;
  user-select: none;
}

hr {
  color: red;
  height: 3px;
}

input {
  cursor: text;
}

button {
  color: aliceblue;
  background-color: rgb(132, 0, 255);
  border-radius: 5px;
  border: 2px solid red;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  margin: 2px;
  padding: 6px;
}
